
<%- include("header") -%>

<div class="box" id="heading">
    <h1>
        <%= listTitle %>
    </h1>
    <p color="white"><%= dateText %></p>
</div>

<div class="box">
    <form class="nostyle" action="/remove/<%=listTitle %>" method="POST">

        <% for (var i=0; i < newListItems.length ; i++) { %>
            <div class="item">
                <input type="checkbox" class="deleteCheckBox">

                <p>
                    <%= newListItems[i] %>
                </p>
                <button type="submit" name="delete" value="<%= newListItems[i] %>" class="deleteBtn" style="
                    align-items: center; display: flex; margin-right: 50px;">
                    <img width="35" height="35" src="https://img.icons8.com/color/48/delete-forever.png"
                        alt="delete-forever" style="
                    margin-top: 5px;" />
                </button>
            </div>
            <% } %>

    </form>

    



    <form class="item" action="/add" method="POST">
        <input type="text" class="" name="newItem" placeholder="New Item" required autocomplete="off"> <br>
        <button type="submit" name="list" value=<%=listTitle %>>+</button>
    </form>


</div>



<%- include("footer") -%>